<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Event</title>
    <link rel="stylesheet" href="/addevents.css">
</head>
<body>
    <form action="/add-event" method="POST">
        <h4>
            Add an event to your Google Calendar
        </h4>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="title of the meeting">
        </div>

        <div class="form-group">
            <label for="body">Body</label>
            <input type="text" id="body" name="body" placeholder="body">
        </div>

        <input type="text" name="token" value="<%= code.access %>" class="hidden">

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        

    
        <input type="submit" class="form-group" value="Send Event">
    </form>
</body>
</html>